/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*-----------------------------------------------------
    Global
------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #7f7f82;
    line-height: 1.5;
}

/*-----------------------------------------------------
    Header
------------------------------------------------------*/
.main {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

header {
    margin-top: 39px;
}

.header {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mobile {
    display: none;
}

.nav-item a {
    margin-left: 17px;
    color: #22222b;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-item a:hover {
    border-bottom: 1px solid;
}

.title-h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 300;
}

.title-h1 span {
    font-weight: 500;
}

.btn-scroll {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
}

/*-----------------------------------------------------
    About
------------------------------------------------------*/
.section-about {
    padding-top: 240px;
    padding-bottom: 132px;
}

.box-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box-about-item {
    -moz-flex: 0 0 46%;
    -ms-flex: 0 0 46%;
    -o-flex: 0 0 46%;
    -webkit-box-flex: 0;
            flex: 0 0 46%;
    max-width: 46%;
    position: relative;
}

.box-about-item:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    -o-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
}

.box-about-item img {
    width: 70%;
}

.box-about-back {
    position: absolute;
    z-index: -1;
    left: 0;
    top: -108px;
}

.box-about-vertical {
    position: absolute;
    left: -4px;
    letter-spacing: 1.6px;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    bottom: 0;
    color: #22222b;
}

.box-about-vertical::after {
    content: "";
    display: block;
    width: 1px;
    height: 45px;
    background: #22222b;
    position: absolute;
    right: 12px;
    top: 97px;
}

.title-h2 {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.box-about-text {
    margin-bottom: 48px
}

.progress-bar {
    font-weight: 500;
}

.progress-bar-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 21px 0 40px;
}

.progress-bar-text p {
    color: #22222b;
}

.progress-bar-line {
    width: 100%;
    height: 2px;
    background: #22222b;
    position: relative;
}

.progress-bar-line::before {
    content: "";
    background: url(../img/StartingPont.png) no-repeat;
    width: 6px;
    height: 11px;
    display: block;
    position: absolute;
    left: 0;
    top: calc(50% - 5.5px);
}

.progress-bar-line::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    height: 2px;
    background: #f2f2f2;
}

.progress-bar-indesign::after {
    width: 35%;
}

.progress-bar-xd::after {
    width: 20%;
}

/*-----------------------------------------------------
    Services
------------------------------------------------------*/
.section-services {
    background: #faf9fe;
    text-align: center;
    padding: 128px 0;
}

.service {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 48px 1fr;
    -ms-grid-columns: 1fr 48px 1fr 48px 1fr;
        grid-template: 1fr 1fr/1fr 1fr 1fr;
    grid-gap: 48px;
    text-align: left;
}

.service-item:hover .service-link-text {
    display: inline-block;
}

.title-h3 {
    font-size: 22px;
    margin: 40px 0 28px;
}

.service-text {
    font-size: 14px;
    margin-bottom: 25px;
}

.service-text p {
    line-height: 1.8;
}

.service-link {
    color: #22222b;
    font-size: 14px;
}

.service-link-text {
    display: none;
    padding-right: 8px;
}

.service-link-line {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #22222b;
    margin-bottom: 1%;
}

.after-title {
    margin-bottom: 65px;
}

.service-icon {
    display: block;
    width: 44px;
    height: 37px;
}

/*-----------------------------------------------------
    Portfolio
------------------------------------------------------*/
.section-portfolio {
    padding-top: 123px;
    padding-bottom: 161px;
    text-align: center;
}

.portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
        grid-template: repeat(7, 88px)/1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 83px;
}

.portfolio-01 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
}

.portfolio-02 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
}

.portfolio-03 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
}

.portfolio-04 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    grid-row: 4/8;
}

.portfolio-05 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5/8;
}

.portfolio-06 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    grid-row: 4/8;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.portfolio-thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
}

/*-----------------------------------------------------
    Banner
------------------------------------------------------*/
.section-banner {
    padding-top: 72px;
    padding-bottom: 113px;
    background-color: #22222b;
    color: #fff;
    text-align: center;
}

.section-banner .title-h2 {
    padding: 31px 0 38px;
}

.btn {
    color: #22222b;
    background: #fff;
    padding: 12px 57px;
}

.before-title {
    font-size: 22px;
}

/*-----------------------------------------------------
    Feedback
------------------------------------------------------*/
.section-feedback {
    padding: 122px 0 178px;
    text-align: center;
}

.feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    margin-top: 66px;
}

.feedback-item {
    -moz-flex: 0 0 45%;
    -ms-flex: 0 0 45%;
    -o-flex: 0 0 45%;
    -webkit-box-flex: 0;
            flex: 0 0 45%;
    max-width: 45%;
}

.feedback-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.feedback-thumb {
    margin-right: 21px;
}

.feedback-name p {
    font-size: 22px;
    color: #22222b;
}

.feedback-name span {
    display: block;
    font-size: 12px;
    color: #7f7f82;
    margin-top: 11px;
}

.feedback-body {
    font-size: 18px;
    font-style: italic;
    padding-left: 28px;
    line-height: 1.8;
    padding-top: 68px;
}

/*-----------------------------------------------------
    Advanteges
------------------------------------------------------*/
.section-advanteges {
    padding: 96px 0;
    background: #faf9fe;
    text-align: center;
}

.advanteges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

p.advanteges-title {
    color: #22222b;
    margin-top: 26px;
}

.advanteges-title span {
    font-size: 22px;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
}

.advanteges-icon {
    background: #22222b;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.advanteges-icon img {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 40%;
}

/*-----------------------------------------------------
    Form
------------------------------------------------------*/
.section-form {
    padding: 133px 0;
    text-align: center;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    font-size: 14px;
    padding: 17px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-bottom: 1px solid #22222b;
}

input[type="submit"] {
    background: #22222b;
    color: #fff;
    padding: 20px 0;
    border: none;
}

/*-----------------------------------------------------
    Footer
------------------------------------------------------*/
footer {
    background: #22222b;
    padding: 70px 0;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
}

.social-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-network a {
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 20px;
}




@media screen and (max-width: 800px) {
    .main {
        background: url(../img/bg-mobile.jpg) no-repeat center;
        background-size: cover;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    /* Nav-start*/
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, .9);
        overflow-x: hidden;
        padding-top: 60px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #22222b;
        display: block;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        text-align: center;
    }

    .sidenav a:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        -webkit-transition: margin-left .5s;
        -o-transition: margin-left .5s;
        transition: margin-left .5s;
        padding: 20px;
    }

    .nav-btn:hover {
        cursor: pointer;
    }

    .nav-btn:hover .nav-line-01,
    .nav-btn:hover .nav-line-02,
    .nav-btn:hover .nav-line-03 {
        width: 50px;
    }

    .nav-line-01 {
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        background: #222;
        margin: 10px 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nav-line-02 {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: #222;
        margin: 10px 0 10px auto;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nav-line-03 {
        content: "";
        display: block;
        width: 10px;
        height: 2px;
        background: #222;
        margin: 10px 0 10px auto;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    /* Nav-end*/
    .box-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .box-about-item {
        -moz-flex: 0 0 95%;
        -ms-flex: 0 0 95%;
        -o-flex: 0 0 95%;
        -webkit-box-flex: 0;
                flex: 0 0 95%;
        max-width: 95%;
        position: relative;
        margin-top: 5%;
    }

    .service {
        -ms-grid-rows: 1fr 48px 1fr 48px 1fr;
        -ms-grid-columns: 1fr 48px 1fr;
            grid-template: 1fr 1fr 1fr/1fr 1fr;
    }

    .portfolio {
        -ms-grid-rows: 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px;
        -ms-grid-columns: 1fr 40px 1fr;
            grid-template: repeat(10, 88px)/1fr 1fr;
        grid-gap: 40px;
        margin-top: 83px;
    }

    .portfolio-01 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        grid-row: 1/4;
    }

    .portfolio-02 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 4;
        grid-row: 1/5;
    }

    .portfolio-03 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 3;
        -ms-grid-row-span: 5;
        grid-row: 3/8;
    }

    .portfolio-04 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 3;
        grid-row: 5/8;
    }

    .portfolio-05 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 6;
        -ms-grid-row-span: 5;
        grid-row: 6/11;
    }

    .portfolio-06 {
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-column: 2/3;
        -ms-grid-row: 8;
        -ms-grid-row-span: 3;
        grid-row: 8/11;
    }

    .feedback {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .feedback-item {
        -moz-flex: 0 0 95%;
        -ms-flex: 0 0 95%;
        -o-flex: 0 0 95%;
        -webkit-box-flex: 0;
                flex: 0 0 95%;
        max-width: 95%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 550px) {
    .service {
        -ms-grid-rows: 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr 48px 1fr;
        -ms-grid-columns: 1fr;
            grid-template: repeat(6, 1fr)/1fr;
    }

    .title-h1 {
        font-size: 40px;
    } 

    .portfolio {
        -ms-grid-rows: 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px 40px 88px;
        -ms-grid-columns: 1fr;
            grid-template: repeat(24, 88px)/1fr;
    }

    .portfolio-01 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        grid-row: 1/4;
    }

    .portfolio-02 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 4;
        -ms-grid-row-span: 4;
        grid-row: 4/8;
    }

    .portfolio-03 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 7;
        -ms-grid-row-span: 5;
        grid-row: 7/12;
    }

    .portfolio-04 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 10;
        -ms-grid-row-span: 6;
        grid-row: 10/16;
    }

    .portfolio-05 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 13;
        -ms-grid-row-span: 7;
        grid-row: 13/20;
    }

    .portfolio-06 {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/2;
        -ms-grid-row: 16;
        -ms-grid-row-span: 8;
        grid-row: 16/24;
    }

    .section-portfolio {
        padding-bottom: 0;
    }

    .section-banner {
        margin-top: -50%;
    }

    .advanteges {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}